            .modal-backdrop {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding-top: 25%;
            }
            
            .modal {
                background: #FFFFFF;
                box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
                overflow-x: auto;
                display: flex;
                flex-direction: column;
                max-width: 100%;
                width: 500px;
                height: 350px;
            }
            
            .modal-header,
            .modal-footer {
                padding: 15px;
                display: flex;
            }
            
            .modal-header {
                position: relative;
                justify-content: space-between;
                color: #72717A;
                font-size: 20px;
            }
            
            .modal-footer {
                flex-direction: column;
                align-items: flex-end;
                .btn {
                    display: flex;
                    justify-content: flex-end;
                    bottom: 0;
                    margin-bottom: 0;
                    align-self: flex-end;
                    &.disabled {
                        cursor: not-allowed;
                        color: #72717A;
                    }
                }
            }
            
            .modal-body {
                position: relative;
                padding: 0;
                height: 70%;
                &>div {
                    display: flex;
                }
            }
            
            .btn-close {
                position: absolute;
                top: 0;
                right: 0;
                border: none;
                font-size: 20px;
                padding: 15px;
                cursor: pointer;
                font-weight: bold;
                color: #4AAE9B;
                background: transparent;
            }
            
            .btn-green {
                color: white;
                background: #4AAE9B;
                border: 1px solid #4AAE9B;
                border-radius: 2px;
            }
            
            .input {
                background: transparent;
                border: none;
                border-bottom: 1px solid #E3E3E5;
                padding-left: 10px;
                &.desc {
                    width: 100%;
                    margin-right: 0;
                    border-bottom: none;
                    width: 100%;
                }
                &:focus,
                &:active {
                    outline: none;
                }
            }
            
            .input-container {
                display: flex;
                flex-direction: column;
                width: calc(50% - 20px);
                margin-right: 20px;
                label {
                    color: #B1B0B8;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    text-align: left;
                    &.price-label {
                        padding-left: 0;
                    }
                }
                &.desc {
                    width: 100%;
                    margin-top: 30px;
                    max-width: 100%;
                }
            }
            
            @media (min-width: 600px) {
                .modal-backdrop {
                    padding-top: 10%;
                }
            }