@font-face {
    font-family: 'Montserrat Alternate';
    src: url('../assets/fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('../assets/fonts/Inter-Regular.ttf');
}